---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

code.highlighter-rouge {
  background: rgba(0,0,0,0.9);
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 0px 3px;
  margin: 0px -3px;
  color: #23a844;
  border-radius: 2px;
}
